@font-face {
    font-family: 'ArialMT';
    src: url('../font/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0 auto;
    padding: 0;
}

header {
    width: 1280px;
    box-sizing: border-box;
}

main {
    width: 1280px;
    box-sizing: border-box;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #ffffff;
    font-family: ArialMT;
}

h2 {
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

h3 {
    font-family: ArialMT;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

h5 {
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

h6 {}

p {
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    padding-top: 10px;
}

.box-1 {
    min-height: 223px;
    background-color: #445162;
    padding: 50px;
    box-sizing: border-box;
}

.box-2 {
    padding: 50px;
    min-height: 345px;
    box-sizing: border-box;
}

.box-3 {
    padding: 50px;
    background-color: #f5f5f5;
    margin: 0 auto;
    min-height: 415px;
    box-sizing: border-box;
}

.box-4 {
    padding: 50px;
    box-sizing: border-box;
    min-height: 485px;
}

.box-5 {
    padding: 50px;
    background-color: #f5f5f5;
    margin: 0 auto;
    min-height: 420px;
    box-sizing: border-box;
}

.header-image {
    float: right;
    padding-left: 8%;
    width: 469px;
    height: 214px;
}

.header-list {
    margin-top: 45px;
    list-style-image: url(../img/check_icon_346.png);
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    font-family: ArialMT;
    padding-left: 32px;
}

.video {
    float: right;
    padding-left: 8%;
    width: 430px;
    height: 245px;
}

.plus-list-left {
    list-style-type: none;
    color: black;
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    width: 49%;
    display: inline-block;
    text-align: justify;
}

.plus-list-right {
    list-style-type: none;
    color: black;
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    width: 49%;
    display: inline-block;
    margin-left: 15px;
    text-align: justify;
}
.plus-list-left li, .plus-list-right li{
    background: url(../img/plus.png) no-repeat 0px 5px;
    padding-left: 40px;
    margin-top: 20px;
}

.screenshots {
    display: inline-block;
    width: 49%;
    padding-top: 30px;
}

.reviews {
    margin-top: 20px;
    display: inline-block;
    width: 49%;
    background-image: url(../img/bg_review_190.png);
    background-repeat: no-repeat;
    background-position: right;
}
.reviews-img{
    float: left; 
    margin-right: 40px; 
    margin-bottom: 20px;
}

.rew {
    padding: 15px;
}
.name {
    font-family: ArialMT;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
}

