@font-face {
    font-family: 'ArialMT';
    src: url('../font/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0 auto;
    padding: 0;
}

body{
    width: 1280px;
    box-sizing: border-box;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #ffffff;
    font-family: ArialMT;
}

h2 {
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
}

h3 {
    font-family: ArialMT;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

h5 {
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

h6 {}

p {
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin-top: 10px;
}

.box-1 {
    min-height: 223px;
    background-color: #445162;
    padding: 50px;
    box-sizing: border-box;
}

.box-2 {
    padding: 50px;
    min-height: 345px;
    box-sizing: border-box;
}

.box-3 {
    padding: 50px;
    background-color: #f5f5f5;
    margin: 0 auto;
    min-height: 415px;
    box-sizing: border-box;
}

.box-4 {
    padding: 50px;
    box-sizing: border-box;
    min-height: 485px;
}

.box-5 {
    padding: 50px;
    background-color: #f5f5f5;
    margin: 0 auto;
    min-height: 420px;
    box-sizing: border-box;
}
.box-6{
    padding: 50px;
    margin: 0 auto;
    min-height: 420px;
    box-sizing: border-box;
}

.box-7{
    min-height: 223px;
    background-color: #445162;
    padding: 50px 250px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer{
    display: block;
    background-color: white;
    text-align: center;
    font-family: ArialMT;
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: #333333;
}

.header-image {
    float: right;
    padding-left: 8%;
    width: 469px;
    height: 214px;
}

.header-list {
    margin-top: 45px;
    list-style-image: url(../img/check_icon_346.png);
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    font-family: ArialMT;
    padding-left: 32px;
}

.video {
    float: right;
    margin-left: 8%;
    width: 430px;
    height: 245px;
    outline: none;
}

.plus-list-left {
    list-style-type: none;
    color: black;
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    width: 49%;
    display: inline-block;
    text-align: justify;
}

.plus-list-right {
    list-style-type: none;
    color: black;
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    width: 49%;
    display: inline-block;
    margin-left: 15px;
    text-align: justify;
}

.plus-list-left li,
.plus-list-right li {
    background: url(../img/plus.png) no-repeat 0px 5px;
    padding-left: 40px;
    margin-top: 20px;
}

.screenshots {
    display: inline-block;
    width: 49%;
    margin-top: 30px;
}

.screen-img {
    float: left;
    margin-right: 15px;
    width: 200px;
    height: 150px;
}

.reviews {
    margin-top: 20px;
    display: inline-block;
    width: 49%;
}

.reviews-img {
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    display: block;
}

.rew {
    padding: 15px;
    width: 460px;
    box-sizing: border-box;
    background-color: #ebebeb;
    border-radius: 10px;
    text-align: justify;
    position: relative;
    margin-right: 20px;
}
.rew:before{
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: -25px;
    border: 15px solid transparent;
    border-right: 15px solid #ebebeb;
}

.name {
    font-family: ArialMT;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
}

.price-box {
    display: flex;
    justify-content:center;
}

.price1 {
    align-self: flex-end;
    background-color: #445162;
    border-radius: 5px;
    padding: 15px 2px 15px 2px;
    margin: 0 25px;
}

.header-price {
    font-family: ArialMT;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    color: #ffffff;
    display: block;
    text-align: center;
}

.price {
    font-family: ArialMT;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    background-color: white;
    padding: 15px;
    display: block;
    text-align: center;
}

.price-list {
    list-style-type: decimal;
    list-style-position: inside;
    padding: 10px;
    font-family: ArialMT;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}
button{
    outline: none;
    width: 260px;
    height: 40px;
    text-decoration: none;
    background-color: white;
    text-transform: uppercase;
    font-family: ArialMT;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    border: none;
}

button:focus {
    outline: none;
}

button:hover{
    outline: none;
    width: 260px;
    height: 40px;
    text-decoration: none;
    background-color: #445161;
    text-transform: uppercase;
    font-family: ArialMT;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: white;
    border: 1px solid white;
}

button:active{
    outline: none;
    width: 260px;
    height: 40px;
    text-decoration: none;
    background-color: white;
    text-transform: uppercase;
    font-family: ArialMT;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    border: none;
}

.price2 {
    align-self: flex-end;
    background-color: #445162;
    border-radius: 5px;
    padding: 15px 2px 15px 2px;
    margin: 0 25px;
}

.price3 {
    align-self: flex-end;
    background-color: #445162;
    border-radius: 5px;
    padding: 15px 2px 15px 2px;
    margin: 0 25px;
}

.header-contact {
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: white;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

/*...Форма обратной связи...*/

#contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
}

.txt{
    display:block;
   width:500px;
   margin-bottom:10px;
   border:1px solid #CCC;
   padding:5px 9px;
    text-align: left;
    border-radius: 5px;
    color: #445162;
font-family: "Arial MT";
font-size: 16px;
font-weight: 400;
line-height: 24px;
    outline: none;
}
.txtarea{
    display:block;
   color:#676767;
   width:500px;
   margin-bottom:10px;
   border:1px solid #CCC;
   padding:5px 9px;
   font-size:16px;
   line-height:1.4em;
   height:80px;
    border-radius: 5px;
    font-family: "Arial MT";
    outline: none;
}
.txt:focus, .txtarea:focus {
   border-style:solid;
   border-color:#BABABA;
   color:#444;
}
.form-box7 input[type="submit"] {
  outline: none;
    width: 180px;
    height: 40px;
    text-decoration: none;
    background-color: white;
    text-transform: uppercase;
    font-family: ArialMT;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    border: none;
    border-radius: 5px;
}

.form-box7 input[type="submit"]:hover {
  background-color: gray;
  color: white;
}

.form-box7 input[type="submit"]:active {
  background-color:  #ffffff;
  color:  #445162;
}
/*конец формы*/

.contact-info{
    width: 240px;
    margin-left: 20px;
}
.fa{
    color: white;
    display: block;
    width: 240px;
    padding: 10px;
}
.circle{
    width: 30px;
}
.copyright{
    color: #445162;
font-family: "Arial MT";
font-size: 12px;
font-weight: 400;
line-height: 24px;
}

